#gameContainer{
    text-align: center;
}
<<<<<<< HEAD
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: "consolas", monospace;
    font-size: 100px;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
=======
canvas{
    width: 500px;
    height: 400px;
    background-color: green;
    kjjuj
}
aihfh
>>>>>>> 7ba808dd02500aaf0e92971d32c83bd0da348578
