body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
#start{
    width: 500px;
    height: 400px;
    background-image: conic-gradient(from var(--angle),transparent 70%,rgb(2, 2, 97),rgb(249, 250, 217));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 8s  infinite linear;
}
@keyframes spin {
    from {
        --angle:0deg
    }
    to {
        --angle:360deg
    }
}
#container{
    background-image: url("background.jpeg");
    background-size: 100% 100%;
    width: 98%;
    height: 98%;
    border-radius: 10px;
    overflow: hidden; 
    
}
#gameName{
    color: white;
    width: fit-content;
    margin: 20px auto;
    font-family: Courier, monospace;
}
.login{
    background-color: rgba(64, 57, 57, 0.5);
    margin: 50px auto;
    width: 40%;
    height: 50%;
    border-radius: 15px;
    display: none;
}

